In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup
import urllib.request

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
url = 'https://www.indeed.co.in/jobs?q=python+developer&l=India&start=10'
page = urllib.request.urlopen(url)

In [0]:
soup = BeautifulSoup(page,'lxml')

In [0]:
print(soup.prettify())

In [4]:
soup.title.string

'Python Developer Jobs, Employment in India - May 2020 | Indeed.co.in'

In [0]:
df_loc = pd.DataFrame(columns=["location"])
df_company = pd.DataFrame(columns=["company"])
df_jobt = pd.DataFrame(columns=["job_title"])
df_sal = pd.DataFrame(columns=["salary"])

In [0]:
def get_company(result):
    for com in result.find_all('span', {'class': 'company'}):
        company = com.text
        df_company.loc[len(df_company)] = [company]    
        
def get_location(result):
    for loc in result.find_all('div',{'class':'location accessible-contrast-color-location'}):
        location = loc.text
        df_loc.loc[len(df_loc)] = [location]   

def get_jobt(result):
    for j in result.find_all('a', {'data-tn-element':'jobTitle'}):
        job_title = j.text
        df_jobt.loc[len(df_jobt)] = [job_title]

def extract_salary(result):
    for entry in result.find_all('td', {'class' : 'snip'}):
        try:
            salary = entry.find('nobr').text
            dfsalary.loc[len(dfsalary)] = [salary]  
        except:
            salary = 'NA'
            dfsalary.loc[len(dfsalary)] = [salary]

In [0]:
cities=['Andhra+Pradesh','Arunachal+Pradesh',
        'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana','Himachal+Pradesh', 'Jharkhand',
        'Karnataka','Kerala','Madhya+Pradesh','Maharashtra','Manipur','Meghalaya','Mizoram','Nagaland',
        'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil+Nadu', 'Telangana', 'Tripura', 'Uttar+Pradesh',
        'Uttarakhand','West+Bengal']

In [0]:
urlt = "https://www.indeed.co.in/jobs?q=python+developer&l={}&start={}"
max_cities = 100
df = pd.DataFrame(columns=['job_title',"location", 'company'])

In [9]:
for city in cities:
    for start in range(0, max_cities, 10):
        url = urlt.format(city,start)
        page = urllib.request.urlopen(url)
        soup = BeautifulSoup(page,'lxml')
        for i in soup.find_all('div', attrs = {'class':'jobsearch-SerpJobCard unifiedRow row result'}):
            loc1 = i.find('span', attrs = {'class': 'location'}).text
            jobt1 = i.find('a', attrs = {'data-tn-element':'jobTitle'}).text.strip()
            try:
                company1 = i.find('span', attrs = {'class':'company'}).text.strip()
            except:
                company1 = 'NA'
           
            df = df.append({"job_title": jobt1,"location":loc1,"company":company1}, ignore_index=True) 
df.head()

                                       job_title  ...                          company
0                     Developer- Python & Django  ...                     Drishti Tech
1                              ReactJS Developer  ...              H-Town Technologies
2                               Python Developer  ...                        Ramersoft
3                           Full Stack Developer  ...  SVAPPS SOFT SOLUTIONS PVT. LTD.
4  Developer- Machine Learning & Computer Vision  ...                     Drishti Tech

[5 rows x 3 columns]

In [10]:
df.shape

(1625, 3)

In [11]:
df.isnull().sum()

job_title    0
location     0
company      0
dtype: int64

In [12]:
df['location'].value_counts()

Gurgaon, Haryana                   98
Bengaluru, Karnataka               95
Hyderabad, Telangana               94
Kolkata, West Bengal               94
Noida, Uttar Pradesh               87
                                   ..
Thanjavur, Tamil Nadu               1
Official Colony, Andhra Pradesh     1
Hanamkonda, Andhra Pradesh          1
Kanpur, Uttar Pradesh               1
Bhopal, Madhya Pradesh              1
Name: location, Length: 113, dtype: int64

In [13]:
from google.colab import drive
drive.mount('/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /drive

In [0]:
# Write the DataFrame to CSV file.
with open('/drive/My Drive/indeed1.csv', 'w') as f:
  df.to_csv(f)

In [24]:
import csv, sqlite3
conn = sqlite3.connect("indeed.sl3")
curs = conn.cursor()
curs.execute("CREATE TABLE indeed (job_title TEXT, location TEXT, company TEXT);")

In [0]:
with open('/drive/My Drive/indeed1.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
      #print (row)
      #to_db = [unicode(row[0], "utf8"), unicode(row[1], "utf8"), unicode(row[2], "utf8")]
      #sql = ''' INSERT INTO indeed (id,job_title,location,company) VALUES(?, ?, ?, ?) '''
      curs.execute("INSERT INTO indeed (job_title,location,company) VALUES(?, ?, ?);", (row[1],row[2],row[3]))  
conn.commit()

In [0]:
import pandas as pd

In [29]:
con = sqlite3.connect('/content/indeed.sl3')
filtered_data = pd.read_sql_query("""
SELECT * 
FROM Indeed
""", con)
print(filtered_data)

                                      job_title  ...                          company
0                                     job_title  ...                          company
1                    Developer- Python & Django  ...                     Drishti Tech
2                             ReactJS Developer  ...              H-Town Technologies
3                              Python Developer  ...                        Ramersoft
4                          Full Stack Developer  ...  SVAPPS SOFT SOLUTIONS PVT. LTD.
...                                         ...  ...                              ...
1621      IBM Tivoli Monitoring Jobs in Kolkata  ...         ICS Consultancy Services
1622  IBM Tivoli Monitoring Openings in Kolkata  ...         ICS Consultancy Services
1623         SOFTWARE ENGINEER (Windows, Linux)  ...          Core Scientific Systems
1624                              Sales Manager  ...                   Prime Infoserv
1625                            Sales Executive  ...                   Prime Infoserv

[1626 rows x 3 columns]